.ScreenBtn{
    display: block;
    border: none;
    border-radius: 3px;
    margin-left: 22px;
    margin-top: 10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.fullScreenBtn {
    background-image: url("images/FullScreen.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: rgba(85, 160, 185, .3);
}


.fullScreenBtn:hover {
    background-color: rgb(85, 160, 185);
}


.fullScreenBtnOP {
    background-image: url("images/ShowResult.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: rgba(85, 160, 185, .3);
}

.fullScreenBtnOP:hover {
    background-color: rgb(85, 160, 185);
}

.exitFullScreenBtn {
    background-image: url("images/Close.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: rgba(238, 39, 72, .3);
    color: white;
}

.exitFullScreenBtn:hover {
    background-color: rgba(238, 39, 72, 1);
}
.fullScreenHide{
    display: none !important;
    }
.fullScreenWin{
    display: block !important;
    position: fixed !important;
    top: 0 !important;
    left:0 !important;
    width:100vw !important;
    height:100vh !important;
    overflow: auto;
}

.jp-OutputArea-output.jp-RenderedText{
    max-height:60vh !important;
    overflow:auto;
}

